body {
  background: #0b1220;
  color: white;
  font-family: Arial;
}

.titulo {
  text-align: center;
  margin: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game {
  background: #1b2838;
  border-radius: 10px;
  padding: 15px;
}

.game img {
  width: 100%;
  border-radius: 10px;
}