body {
  background: #0b1220;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nosotros {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1b2838;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}