@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0; 
  padding: 0; 
  min-height: 100vh; 
  background: linear-gradient(to bottom right, #0a1f3d, #000000); 
  font-family: 'Segoe UI', sans-serif; 
  color: white;
}

